* text=auto

*.php  text
*.css  text
*.js   text
*.txt  text
*.md   text
*.json text
*.yml  text
*.png  binary
*.jpg  binary
*.gif  binary
*.ttf  binary

/.github export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/cache export-ignore
/.php_cs.dist export-ignore
/.htaccess export-ignore
/composer.json export-ignore
/composer.lock export-ignore
